<nav>
  <a routerLink="/app" routerLinkActive="active">App</a>
  <a routerLink="/header" routerLinkActive="active">Header</a>
  <a routerLink="/testing" routerLinkActive="active">Testing</a>
  <a routerLink="/manupulation" routerLinkActive="active">Manupulation</a>
  <a routerLink="/cricket" routerLinkActive="active">Cricket</a>
  <a routerLink="/football" routerLinkActive="active">Football</a>
  <a routerLink="/cactus" routerLinkActive="active">Cactus</a>
  <a routerLink="/mercedes" routerLinkActive="active">Mercedes</a>
  <a routerLink="/tikona" routerLinkActive="active">Tikona</a>
</nav>
<router-outlet></router-outlet>